body {
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: #dc143c;
    color: white;
}

h1 {
    color: red;
}

a:active, a:visited, a {
    color: #ff7777;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.listTableHeader {
    background-color: orange;
    padding: 5px;
    margin: 1px;
    font-weight: bold;
    font-size: large;
}

.listTableFirstRowCell {
    background-color: #f0f0f0;
    padding: 5px;
    margin: 1px;
    font-size: large;
}

.listTableSecondRowCell {
    background-color: #d3d3d3;
    padding: 5px;
    margin: 1px;
    font-size: large;
}

.listTablePager {
}

.centerPanel {
    display: block;
    float: none;
    margin-left: 20%;
    margin-right: 20%;
}

.imagePanel {
    display: block;
    float: left;
}

.personPanel {
    display: block;
    float: right;
}

.personForm table {
    width: 100%;
}